<aside id="featured" class="body">
  <article>
    <figure>
      <%= image_tag "picture1.jpg" %> 
      <!--div id="slideshow">
        <div id="slides">
          <div class="slide">Slide content</div>
          <div class="slide">Slide content</div>
          <div class="slide">Slide content</div>
        </div>
        <div id="slides-controls">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div> -->
    </figure>
    
    <hgroup>
      <h2>Foto de la semana</h2>
      <h3><a href="#">¡Aquí la foto destacada de la semana!</a></h3>
    </hgroup>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc 
    vitae libero iaculis elementum. Nullam et justo non sapien dapibus blandit nec et leo. 
    Ut ut malesuada.
    </p>
  </article>

</aside><!-- /#featured -->

<section id="content" class="body">

  <ol id="posts-list" class="hfeed">
    <li>
      <article class="hentry">
        <header>                              
          <h2 class="entry-title">
            <a href="#" rel="bookmark" title="Permalink to this POST TITLE">Cielo</a>
          </h2>
        </header>

        <footer class="post-info">
          <%= image_tag "picture2.jpg" %>
        </footer> <!-- /.post-info -->

        <div class="entry-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
          libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit 
          nec et leo. Ut ut malesuada tellus.
          </p>
        </div><!-- /.entry-content -->
      </article>
    </li>

    <li>
      <article class="hentry">
        <header>
          <h2 class="entry-title">
            <a href="#" rel="bookmark" title="Permalink to this POST TITLE">Río</a>
          </h2>
        </header>

        <footer class="post-info">
          <%= image_tag "picture3.jpg" %>
        </footer><!-- /.post-info -->

        <div class="entry-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae 
          libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec
          et leo. Ut ut malesuada tellus.
          </p>
        </div><!-- /.entry-content -->
      </article>
    </li>
                      
    <li>
      <article class="hentry">
        <header>
          <h2 class="entry-title">
            <a href="#" rel="bookmark" title="Permalink to this POST TITLE">Bosque</a>
          </h2>
        </header>

        <footer class="post-info">
          <%= image_tag "picture4.jpg" %>
        </footer><!-- /.post-info -->

        <div class="entry-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc 
          vitae libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus 
          blandit nec et leo. Ut ut malesuada tellus.
          </p>
        </div><!-- /.entry-content -->
      </article>
    </li>
  </ol><!-- /#posts-list -->

</section><!-- /#content -->

<section id="extras" class="body">
  <div class="blogroll">
    <h2>Años anteriores</h2>
    <ul>
      <li><a href="#" rel="external">2013 Abril </a></li>
      <li><a href="#" rel="external">2013 Marzo</a></li>
      <li><a href="#" rel="external">2013 Febrero</a></li>
      <li><a href="#" rel="external">2013 Enero</a></li>
      <li><a href="#" rel="external">2012 Diciembre</a></li>
      <li><a href="#" rel="external">2012 Noviembre</a></li>

      <li><a href="#" rel="external">2012 Octubre</a></li>
      <li><a href="#" rel="external">2012 Septiembre</a></li>
      <li><a href="#" rel="external">2012 Agosto</a></li>
      <li><a href="#" rel="external">2012 Julio</a></li>
      <li><a href="#" rel="external">2012 Junio</a></li>
      <li><a href="#" rel="external">2012 Mayo</a></li>

      <li><a href="#" rel="external">2012 Abril</a></li>
      <li><a href="#" rel="external">2012 Marzo</a></li>
      <li><a href="#" rel="external">2012 Febrero</a></li>
      <li><a href="#" rel="external">2012 Enero</a></li>
      <li><a href="#" rel="external">2011 Diciembre</a></li>
      <li><a href="#" rel="external">2011 Noviembre</a></li>
    </ul>
  </div><!-- /.blogroll -->

  <div class="social">
    <h2>social</h2>
    <ul>
      <li><a href="http://delicious.com/" rel="me">delicious</a></li>
      <li><a href="http://digg.com/" rel="me">digg</a></li>
      <li><a href="http://facebook.com/" rel="me">facebook</a></li>
      <li><a href="http://www.lastfm.es/" rel="me">last.fm</a></li>
      <li><a href="http://website.com/feed/" rel="alternate">rss</a></li>
      <li><a href="http://twitter.com/" rel="me">twitter</a></li>
    </ul>
  </div><!-- /.social -->
</section><!-- /#extras -->
