/***** Global *****/

/* Body */

/* Headings */

/*Anchors */

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

aside img{ padding:1px;border:thin solid #D5D4DF; }
#content img{ padding:1px;border:thin solid #D5D4DF; }
