#slideshow
{
    height:180px;
    width: 100%;
    float: left;
    border: none;
}
 
#slides
{
    width: 100%;
    height:139px;
    position:relative;
    padding:1px;border:thin solid #D5D4DF;
}
    
.slide
{
    height: 139px;
    width: 248px;
    overflow: hidden;
    position: absolute;
    background: #000;
    color:#fff;
}

.slide img
{
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
}
    
#slides-controls
{
    width:60px;
    background-color: #fff;
    height:20px;
    padding:5px;
}
    
#slides-controls a
{
    width:12px;
    height:12px;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    -o-border-radius:4px;
    background:#C74451;
    border:1px solid #fff;
    text-indent:-90         00px;
    display:block;
    overflow:hidden;
    float:left
}
    
#slides-controls a:hover { background:#444 }
    
#slides-controls a.highlight
{
    background:#fff;
    border:1px solid #F30
}   
